<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <!-- loop over the collection of products-->
        <div *ngFor="let tempPrd of products" class="col-md-3">
          <div class="product-box">
            <a routerLink="/products/{{tempPrd.id}}">

            <img src="{{tempPrd.imageUrl}}" alt="" class="img-responsive">
          </a>

          <a routerLink="products/{{tempPrd.id}}">
            <h1>{{tempPrd.name}}</h1>

          </a>
            <div class="price">{{tempPrd.unitPrice |currency:'TRY'}}<div>
          </div>
        </div>

        <!-- if products empty then display -->
         <div *ngIf="products?.length== 0" class="alert alert-warning col-md-12" role="alert">
          <p>
            No products found.
          </p>
         </div>

      </div>
    </div>
  </div>
</div>
